In [13]:
def append_df_to_excel(filename, df, sheet_name='Sheet1', startrow=None, startcol=None,
                       truncate_sheet=False,
                       **to_excel_kwargs):
    """
    Append a DataFrame [df] to existing Excel file [filename]
    into [sheet_name] Sheet.
    If [filename] doesn't exist, then this function will create it.
  
    Parameters:
      filename : File path or existing ExcelWriter
                 (Example: '/path/to/file.xlsx')
      df : dataframe to save to workbook
      sheet_name : Name of sheet which will contain DataFrame.
                   (default: 'Sheet1')
      startrow : upper left cell row to dump data frame.
                 Per default (startrow=None) calculate the last row
                 in the existing DF and write to the next row...
      truncate_sheet : truncate (remove and recreate) [sheet_name]
                       before writing DataFrame to Excel file
      to_excel_kwargs : arguments which will be passed to `DataFrame.to_excel()`
                        [can be dictionary]
  
    Returns: None
    """
    from openpyxl import load_workbook
  
    # ignore [engine] parameter if it was passed
    if 'engine' in to_excel_kwargs:
        to_excel_kwargs.pop('engine')
  
    writer = pd.ExcelWriter(filename, engine='openpyxl')

    try:
        # try to open an existing workbook
        writer.book = load_workbook(filename)
        
        ws = writer.book.active
  
        # get the last row in the existing Excel sheet
        # if it was not specified explicitly
        if startrow is None and sheet_name in writer.book.sheetnames:
            startrow = writer.book[sheet_name].max_row
  
        # truncate sheet
        if truncate_sheet and sheet_name in writer.book.sheetnames:
            # index of [sheet_name] sheet
            idx = writer.book.sheetnames.index(sheet_name)
            # remove [sheet_name]
            writer.book.remove(writer.book.worksheets[idx])
            # create an empty sheet [sheet_name] using old index
            writer.book.create_sheet(sheet_name, idx)
  
        # copy existing sheets
        writer.sheets = {ws.title:ws for ws in writer.book.worksheets}
    except FileNotFoundError:
        # file does not exist yet, we will create it
        pass
  
    if startrow is None:
        startrow = 0
  
    # write out the new sheet
    df.to_excel(writer, sheet_name, startrow=startrow, startcol=startcol, **to_excel_kwargs)
  
    # наводим красоту

#    CellRange =ws['B7':'M13'] #or currentCell = ws['A1']
#    for cell in CellRange:
#        cell.alignment = Alignment(horizontal='center')
    thin_border = Border(left=Side(style='dashed'), 
                     right=Side(style='dashed'), 
                     top=Side(style='dashed'), 
                     bottom=Side(style='dashed'))

    for row in ws.iter_rows(min_col=1, min_row=8, max_col=147, max_row=len(df)+9):
        for cell in row:
            cell.alignment = Alignment(horizontal='center',wrap_text=True)
            cell.border = thin_border
#            cell['I3'].value = "---"
        
    # save the workbook
    writer.save()



from sqlalchemy import create_engine
from datetime import timedelta
from datetime import datetime
import pandas as pd
import numpy as np
from pandas import pivot_table
from shutil import copyfile
from openpyxl.styles import Alignment
from openpyxl.styles.borders import Border, Side


date_x = datetime.now()-timedelta(1)
date_first = date_x - timedelta(35)
date_last = date_x - timedelta(1)
date_stfirst = date_x - timedelta(34)
date_stlast = date_x - timedelta(-1)

date_first_w = date_x - timedelta(7)
date_last_w = date_x - timedelta(1)
date_stfirst_w = date_x - timedelta(6)
date_stlast_w = date_x - timedelta(-1)



display('Начинаю работать...')
display("Стартовый день: ")
display(date_x)


engine = create_engine('postgresql://awsuser:67Gh$5aP#@redshift-cluster-1.c9nv0atgk8dm.eu-west-1.redshift.amazonaws.com:5439/adata')
 
sql = """
select * from 
(   
    select m.modelname
    , 'http://am.look.online/storage/images/'+uuid+'.jpg' as foto
    , '' as colorcode
    , '' as fullmodelcode
    , trim(m.model_id) as model_id
    , group_name as group
    , subgroup_name as subgroup
    , category_name as category
    , subcategory_name as subcategory
    , status
    , m.season
    , c."name" as colorname
    , trim(m.model_id)+';'+c."name" as service
    , min as first_date
    , '1' as cm
    , codes
    from (
        select * from 
        (
        SELECT DISTINCT feature_id FROM public.sales where datetime between '""" + date_first.strftime("%Y-%m-%d") + """' and '""" + date_x.strftime("%Y-%m-%d") + """'
        union
        SELECT DISTINCT feature_id FROM stocks where datetime between '""" + date_stfirst.strftime("%Y-%m-%d") + """' and '""" + date_stlast.strftime("%Y-%m-%d") + """' and quantity <> 0
        ) group by feature_id 
        ) as b
    join features f on b.feature_id = f.feature_id
    join colors c on f.color_id = c.color_id 
    join persisted_hierarchy ph on f.model_id = ph.model_id
    join models m on f.model_id = m.model_id
    join ( 
            select model_id, color, CAST(listagg(code, ', ') within group (order by code) AS VARCHAR(200)) as codes
            from
            (
            select t1.model_id, t1.code, t2."name" as color from features  as t1 left join colors as t2 on t1.color_id = t2.color_id
            ) group by model_id, color
        ) cc on f.model_id = cc.model_id and c."name" = cc.color
    left join block_first_selling_date bfsd on f.model_id = bfsd.model_id and c."name" = bfsd.color
) where "group" <> '4. Подарочные сертификаты' and "group" <> '5. Тест'
"""

print(sql.replace('\t', ' ').replace('\n', ' '))

df = pd.read_sql_query(sql, engine)

df = df.drop_duplicates(subset=['model_id', 'colorname'], keep='first')

#df = df.sort_values(['group', 'subgroup', 'category', 'subcategory', 'modelname'])
df = df.sort_values(['group', 'subgroup', 'category', 'subcategory', 'modelname', 'colorname'])
#df = df.sort_values(['group', 'subgroup', 'category', 'subcategory'])



display('после основного блока')
display(df)



# display(df)


sql = '''select trim(model_id) as model_id, colorname, "datetime", fotosname from fotos where fotosname IN (select fotosname from fotos f group by fotosname, datetime ORDER BY datetime DESC LIMIT 15)'''

fotos = pd.read_sql_query(sql, engine)


fotos['datetime'] = fotos['datetime'].apply(lambda x: x.strftime('%Y-%m-%d'))

display(fotos)

# fotos = fotos.drop_duplicates(subset=["model_id", "colorname"])

fotos_pivot = (fotos.set_index(["model_id", "colorname"])
        .pivot(columns="fotosname")['datetime']
        .reset_index()
        .rename_axis(None, axis=1)
     )

fotos_pivot = fotos_pivot.fillna('')

#display(fotos_pivot)

df = df.merge(fotos_pivot, how='left', on=['model_id','colorname'])

df = df.fillna('')

display('после добавления фотос')
display(df)



#display(df)

#
#  Выводим данные по 5 неделям
#

sql = """
select trim(model_id) as model_id
, colorname
, coalesce(sum(sales),0)+coalesce(sum(stocks),0) as received
, (coalesce(sum(sales),0)+coalesce(sum(stocks),0))*max(cogs) as received_in_cogs
, sum(sales)*1 as sales
, sum(sales)*max(cogs) as sales_in_cogs
, sum(sales)/nullif(sum(sales)+sum(stocks),0) as realization
, '' as days0
, '' as speed_of_sales
, sum(amount) as amount
, sum(amount) - sum(sales)*max(cogs) as margin
, '' as was_in_sale
, sum(stocks) as stocks
, max(cogs) as cogs
, (sum(amount) - sum(sales)*max(cogs)) / nullif((sum(sales)+sum(stocks))*max(cogs),0) as roa
, '' as roa1
, '' as roa2
from 
(
	select b.feature_id
	, s2.qty as sales
	, amount
	, s3.qty as stocks
	, cogs
	, f.model_id as model_id
	, c."name" as colorname
	from (
	    select * from 
	    (
        SELECT DISTINCT feature_id FROM public.sales where datetime between '""" + date_first.strftime("%Y-%m-%d") + """' and '""" + date_x.strftime("%Y-%m-%d") + """'
        union
        SELECT DISTINCT feature_id FROM stocks where datetime between '""" + date_stfirst.strftime("%Y-%m-%d") + """' and '""" + date_stlast.strftime("%Y-%m-%d") + """' and quantity <> 0
	    ) group by feature_id 
	    ) as b
	left join (select feature_id, sum(quantity) as qty, sum(amount) as amount from public.sales where datetime between '""" + date_first.strftime("%Y-%m-%d") + """' and '""" + date_x.strftime("%Y-%m-%d") + """' group by feature_id) s2 on b.feature_id = s2.feature_id
	left join ( select feature_id, sum(quantity) as qty from stocks where datetime between '""" + date_x.strftime("%Y-%m-%d") + """' and '""" + date_stlast.strftime("%Y-%m-%d") + """' and wh_id IN (select wh_id from sys_warehouses w2 where "5weeks" = true) group by feature_id ) as s3 on b.feature_id = s3.feature_id
	left join (select feature_id, max(amount/qty) as cogs  from arrival group by feature_id) as am on b.feature_id = am.feature_id
	join features f on b.feature_id = f.feature_id
	join colors c on f.color_id = c.color_id
) group by model_id, colorname
"""


display("запрос на 5 недель")
print(sql.replace('\t', ' ').replace('\n', ' '))

five_weeks = pd.read_sql_query(sql, engine)

five_weeks = five_weeks.fillna('')

display('five_weeks')
display(five_weeks)


display("запрос на 5 недель-1")
display(five_weeks[five_weeks['model_id'] == '1152122'])
display("запрос на 5 недель-2")
display(df[df['model_id'] == '1152122'])


df = df.merge(five_weeks, how='left', on=['model_id','colorname'])

display("запрос на 5 недель-3")
display(five_weeks[five_weeks['model_id'] == '1152122'])
display("запрос на 5 недель-4")
display(df[df['model_id'] == '1152122'])
display("запрос на 5 недель-5")
display(df[df['modelname'] == '1152122'])




display('после добавления 5 недель')
display(df)
display(df[df['model_id'] == '1152122'])


#
#  добавляем дни в продаже за 5 недель и скорость продаж
#


sql = """
select trim(model_id) as model_id, color as colorname, count(dd1) as days
	from (
		select t1.dd as dd1, t1.model_id, t1.color, nvl(qty1 + nvl(qty2,0),0)  as qty
		from (
			select dd, model_id, color, sum(quantity) as qty1
			from (	
				select  t1.datetime as dd, t1.model_id, t1.feature_id, t1.quantity, t1.color_id, t2.name as color
				from (
					select  cast("datetime"-1 as date) as datetime, t1.model_id, t1.feature_id, t1.quantity, t2.color_id
					from (
						select * from public.stocks s where datetime between '""" + date_stfirst.strftime("%Y-%m-%d") + """' and '""" + date_stlast.strftime("%Y-%m-%d") + """'
					) as t1 left join features as t2 on t1.feature_id = t2.feature_id 
				) as t1 left join colors as t2 on t1.color_id = t2.color_id
			) group by dd, model_id, color 		
		)  as t1 full outer join
		(
			select dd, model_id, color, sum(quantity) as qty2
			from (	
				select  t1.datetime as dd, t1.model_id, t1.feature_id, t1.quantity, t1.color_id, t2.name as color
				from (
					select  date(t1.datetime) as datetime, t1.model_id, t1.feature_id, t1.quantity, t2.color_id
					from (
						select * from public.sales s where datetime between '""" + date_first.strftime("%Y-%m-%d") + """' and '""" + date_x.strftime("%Y-%m-%d") + """'
					) as t1 left join features as t2 on t1.feature_id = t2.feature_id 
				) as t1 left join colors as t2 on t1.color_id = t2.color_id
			) group by dd, model_id, color 		
		) as t2 on (t1.dd = t2.dd) and (t1.model_id = t2.model_id) and (t1.color = t2.color)
	) where qty > 0 group by model_id, color
"""

was_in_sale = pd.read_sql_query(sql, engine)

was_in_sale = was_in_sale.fillna('')

display('was_in_sale')
display(was_in_sale)

df = df.merge(was_in_sale, how='left', on=['model_id','colorname'])


df['was_in_sale'] = df['days']
df['days0'] = df['days']

#df['sales'] = df['sales'].astype(int)
df['sales'] = pd.to_numeric(df['sales'])
df['speed_of_sales'] = df['sales'] / df['days0']

df['was_in_sale'] = df['days'].apply(lambda x: '0' if x < 1 else '1')

df.drop('days', axis=1, inplace=True)

display('после добавления дней в продаже в 5 неделях')
display(df)




#
#  добавляем количество продаж, дни в продаже за 1 недель и формируем покрытие
#

sql = """
select trim(model_id) as model_id, color as colorname, count(dd1) as days_w, sum(qty2) as sales_w
	from (
		select t1.dd as dd1, t1.model_id, t1.color, nvl(qty1 + nvl(qty2,0),0)  as qty, qty2 
		from (
			select dd, model_id, color, sum(quantity) as qty1
			from (	
				select  t1.datetime as dd, t1.model_id, t1.feature_id, t1.quantity, t1.color_id, t2.name as color
				from (
					select  cast("datetime"-1 as date) as datetime, t1.model_id, t1.feature_id, t1.quantity, t2.color_id
					from (
						select * from public.stocks s where datetime between '""" + date_stfirst_w.strftime("%Y-%m-%d") + """' and '""" + date_stlast_w.strftime("%Y-%m-%d") + """'
					) as t1 left join features as t2 on t1.feature_id = t2.feature_id 
				) as t1 left join colors as t2 on t1.color_id = t2.color_id
			) group by dd, model_id, color 		
		)  as t1 full outer join
		(
			select dd, model_id, color, sum(quantity) as qty2
			from (	
				select  t1.datetime as dd, t1.model_id, t1.feature_id, t1.quantity, t1.color_id, t2.name as color
				from (
					select  date(t1.datetime) as datetime, t1.model_id, t1.feature_id, t1.quantity, t2.color_id
					from (
						select * from public.sales s where datetime between '""" + date_first_w.strftime("%Y-%m-%d") + """' and '""" + date_x.strftime("%Y-%m-%d") + """'
					) as t1 left join features as t2 on t1.feature_id = t2.feature_id 
				) as t1 left join colors as t2 on t1.color_id = t2.color_id
			) group by dd, model_id, color 		
		) as t2 on (t1.dd = t2.dd) and (t1.model_id = t2.model_id) and (t1.color = t2.color)
	) where qty > 0 group by model_id, color
"""

was_in_sale_w = pd.read_sql_query(sql, engine)

was_in_sale_w = was_in_sale_w.fillna('')

display('was_in_sale_w')
display(was_in_sale_w)


df = df.merge(was_in_sale_w, how='left', on=['model_id','colorname'])

#df['was_in_sale_w'] = df['days_w']

df['sales_w'] = pd.to_numeric(df['sales_w'])
df['speed_of_sales_w'] = df['sales_w'] / df['days_w']
df['stocks'] = pd.to_numeric(df['stocks'])
df['cover_w'] = df['stocks'] / df['speed_of_sales_w']

display('после добавления недели')
display(df)





#
#  Выводим данные по складам
#

#sql = '''
#select model_id, colorname, qty, w."name" as warehouse, s."name" as shop from 
#(
#select f.model_id, "name" as colorname, wh_id, sum(quantity) as qty from currentstock c
#join features f on c.feature_id = f.feature_id
#join colors cc on f.color_id = cc.color_id
#group by f.model_id, "name", wh_id
#) as m
#join warehouses w on m.wh_id = w.wh_id
#join shops s on w.shop_id = s.shop_id
#'''

sql = """
select trim(model_id) as model_id, colorname, warehouse, qty from 
(
	select model_id, colorname, w."name" as warehouse, s."name" as shop, qty from 
	(
		select f.model_id, "name" as colorname, wh_id, sum(quantity) as qty from currentstock c
		join features f on c.feature_id = f.feature_id
		join colors cc on f.color_id = cc.color_id
		group by f.model_id, "name", wh_id
	) as m
	join warehouses w on m.wh_id = w.wh_id
	join shops s on w.shop_id = s.shop_id
	union
	select model_id,  colorname, shop as warehouse, shop as shop, sum(qty) as qty from 
		(
		select model_id, colorname, qty, w."name" as warehouse, s."name" as shop, w.wh_id as wh_id from 
		(
		select f.model_id, "name" as colorname, wh_id, sum(quantity) as qty from currentstock c
		join features f on c.feature_id = f.feature_id
		join colors cc on f.color_id = cc.color_id
		group by f.model_id, "name", wh_id
		) as m
		join warehouses w on m.wh_id = w.wh_id
		join shops s on w.shop_id = s.shop_id
		) where wh_id IN (select wh_id from sys_warehouses w2 where "5weeks" = true) group by model_id,  colorname, shop
	union	
	select model_id,  colorname, 'Итого' as warehouse, '' as shop, sum(qty) as qty from 
		(
		select model_id, colorname, qty, w."name" as warehouse, s."name" as shop, w.wh_id as wh_id from 
		(
		select f.model_id, "name" as colorname, wh_id, sum(quantity) as qty from currentstock c
		join features f on c.feature_id = f.feature_id
		join colors cc on f.color_id = cc.color_id
		group by f.model_id, "name", wh_id
		) as m
		join warehouses w on m.wh_id = w.wh_id
		join shops s on w.shop_id = s.shop_id
		) where wh_id IN (select wh_id from sys_warehouses w2 where "5weeks" = true) group by model_id,  colorname
) order by shop
"""

stocks = pd.read_sql_query(sql, engine)

#display("stocks")
#display(stocks)

stocks_pivot = (stocks.set_index(["model_id", "colorname"])
        .pivot(columns="warehouse")['qty']
        .reset_index()
        .rename_axis(None, axis=1)
     )

stocks_pivot = stocks_pivot.fillna(0)

display("stocks_pivot")
display(stocks_pivot)


stocks_pivot['Спб'] = stocks_pivot['Спб, Фурштатская, 42'] + stocks_pivot['Спб, распред']

headers = ['model_id','colorname'
,'Москва, Долгоруковская, 40.'
, 'Зал (Долгоруковская, 40)'
,'Мск склад Новослободская'
,'Склад "Единички" (Москва, Долгоруковская, 40)'
,'Транзит Москва - Новослободская'
,'Транзит Б.Дорогомиловская - Долгоруковская'
, 'Новая Коллекция (Долгоруковская, 40)'
,'Ремонт (Москва, Долгоруковская, 40)'
,'Стирка (Долгоруковская, 40)'
,'Брак (Москва, Долгоруковская, 40)'
                             
,'Москва, Большая Дорогомиловская, д.8'
, 'Зал продаж (Большая Дорогомиловская, 8)'
,'Склад (Большая Дорогомиловская, 8)'
,'Склад "Единички" (Большая Дорогомиловская, 8)'
, 'Транзит Москва - Дорогомиловская'
, 'Транзит Долгоруковская - Б.Дорогомиловская'
, 'Новая Коллекция (Большая Дорогомиловская, 8)'
,'Ремонт (Большая Дорогомиловская, 8)'
, 'Стирка (Большая Дорогомиловская, 8)'
, 'Брак (Большая Дорогомиловская, 8)'
                             
,'Спб'                             
,'Склад (Спб, Фурштатская, 42)'
,'Транзит Москва - Питер (Спб, распред.)'
, 'Зал продаж (Спб, Фурштатская, 42)'
,'Склад Новая Коллекция (Спб, Фурштатская, 42)'                             
,'Склад "Единички" (Спб, Фурштатская, 42)'
,'Транзит Москва - Фурштатская'
,'Транзит Казань - Питер'
,'Склад Новая Коллекция (Спб, Фурштатская, 42)'                             
,'Сезон Хранение (Спб, распред.)'
,'Ремонт (Спб, Фурштатская, 42)'
, 'Стирка (Спб, Фурштатская, 42)'                             
, 'Брак (Спб, Фурштатская, 42)'
                             
,'Интернет магазин "Look Online"'
,'Склад (Интернет магазин Яковлев)'
,'Транзит Москва - ИМ'
, 'Зал продаж (Интернет магазин Яковлев)'
,'Стирка (Интернет магазин Яковлев)'                             
,'Ремонт (Интернет магазин Яковлев)'
, 'Брак (Интернет магазин Яковлев)'

,'Основной магазин'
,'Мск Склад ответ хранение  (Новый)'
,'Мск Сезонное хранение(Новый)'
,'Транзит Казань - Москва (Новый)'
,'Транзит Питер - Москва'
,'Транзит Новослободская - Москва'
,'Транзит Дорогомиловская - Москва'
,'Транзит ИМ - Москва'
,'Мск Контент склад (Новый)'
,'Фотосессия2'
,'Единички (центральный склад)'
,'Мск на фотосессии (Новый)'
,'Склад Sale (центральный склад)'
,'Ответ Хран (Нью Лайн)'
,'Склад поступлений (ИП Шестаков)'
,'Склад поступлений (ИП Козлов)'
,'Склад списания'
,'Мск Ремонт (Новый)'
,'Мск Брак (Новый)'
,'Товары для Киевской'
,'Товары для Фурштатская'
,'Китай (Новый)'                             
                             
,'Казань, Проспект Победы, 33'                             
, 'Зал продаж (Казань, Проспект Победы, 33)'
,'Зал продаж - обувь (Казань, Проспект Победы, 33)'
,'Склад (Казань, Проспект Победы, 33)'                             
,'Склад Лето Сезон Хран(Казань, Проспект Победы, 33)'
,'Сезонное хранение (Казань, Проспект Победы, 33)'
,'Склад "Единички" (Казань, Проспект Победы, 33)'
,'Транзит Москва - Казань (Новый)'
,'Транзит Питер - Казань'       
,'Новая Коллекция (Казань, Проспект Победы, 33)'
,'Склад Sale (Казань, Проспект Победы, 33)'                             
,'Уценка (Казань, Проспект Победы, 33)'
,'Стирка (Казань, Проспект Победы, 33)'                             
,'Ремонт (Казань, Проспект Победы, 33)'                             
                             
,'Казань, Декабристов, 8'
, 'Зал продаж (Казань, Декабристов, 8)'
,'Зал продаж - обувь (Казань, Декабристов, 8)'
,'Сезонное хранение (Казань, Декабристов, 8)'                             
,'Склад (Казань, Декабристов, 8)'
,'Склад Лето Сезон Хран(Казань, Декабристов, 8)'
,'Новая Коллекция (Казань, Декабристов, 8)'
,'Склад "Единички" (Казань, Декабристов, 8)'
,'Ремонт (Казань, Декабристов, 8)'
                             
,'Маркетплейсы'
,'Склад (wildberries)'
,'Подсорт "Wildberries"'
,'Итого'
]

for h in headers:
    if h not in stocks_pivot:
        stocks_pivot[h] = ''


stocks_pivot = stocks_pivot[headers]

df = df.merge(stocks_pivot, how='left', on=['model_id','colorname'])

df = df.fillna('')

display(df)

#
#  Выводим блок Ценообразование
#

sql = """
select trim(model_id) as model_id, colorname, max(firstprice) as firstprice, max(firstadd) as firstadd, max(cogs) as cogs, max(sal) as sal, max(sale) as sale, max(curadd) as curadd, max(currentpr) as currentpr from
	(
		select firstprice
		, round(cast(firstprice as float) / nullif(cogs,0),2) - 1 as firstadd
		, cogs
		, round(cast(nvl(sale,firstprice) as float) / nullif(firstprice,0) - 1,2)*100 as sal
		, '' as ssal
		, sale
		, round(cast(nvl(sale,firstprice) as float) / nullif(cogs,0),2) - 1  as curadd
		, nvl(sale,firstprice) as currentpr
		, f.model_id as model_id
		, colorname
		from currentprice c 
		join features f on c.feature_id = f.feature_id 
		join colors c2 on f.color_id = c2.color_id 
		left join (
				select * from actions a where datetime BETWEEN '""" + date_first_w.strftime("%Y-%m-%d") + """' and '""" + date_x.strftime("%Y-%m-%d") + """'
			) as a on a.model_id = f.model_id and c2."name" = a.colorname
		left join (select feature_id, max(amount/qty) as cogs  from arrival group by feature_id) as am on f.feature_id = am.feature_id
	) group by model_id, colorname
"""
prices = pd.read_sql_query(sql, engine)

prices = prices.fillna('')

display("prices")
display(prices)

df = df.merge(prices, how='left', on=['model_id','colorname'])

df = df.fillna('')

display(df)

copyfile('Выходные данные\\Шаблон.xlsx', 'Выходные данные\\'+date_x.strftime("%Y-%m-%d")+'.xlsx')

append_df_to_excel('Выходные данные\\'+date_x.strftime("%Y-%m-%d")+'.xlsx', df, sheet_name='Отчет', index=False, startrow=8, startcol=0, header=True)



display("OK")

'Начинаю работать...'

'Стартовый день: '

datetime.datetime(2021, 6, 25, 16, 32, 57, 708774)

 select * from  (        select m.modelname     , 'http://am.look.online/storage/images/'+uuid+'.jpg' as foto     , '' as colorcode     , '' as fullmodelcode     , trim(m.model_id) as model_id     , group_name as group     , subgroup_name as subgroup     , category_name as category     , subcategory_name as subcategory     , status     , m.season     , c."name" as colorname     , trim(m.model_id)+';'+c."name" as service     , min as first_date     , '1' as cm     , codes     from (         select * from          (         SELECT DISTINCT feature_id FROM public.sales where datetime between '2021-05-21' and '2021-06-25'         union         SELECT DISTINCT feature_id FROM stocks where datetime between '2021-05-22' and '2021-06-26' and quantity <> 0         ) group by feature_id          ) as b     join features f on b.feature_id = f.feature_id     join colors c on f.color_id = c.color_id      join persisted_hierarchy ph on f.model_id = ph.model_id     join models m on f.model_id = m.model_id     join (              select model_id, color, CAST(listagg(code, ', ') within group (order by code) AS VARCHAR(200)) as codes             from             (             select t1.model_id, t1.code, t2."name" as color from features  as t1 left join colors as t2 on t1.color_id = t2.color_id             ) group by model_id, color         ) cc on f.model_id = cc.model_id and c."name" = cc.color     left join block_first_selling_date bfsd on f.model_id = bfsd.model_id and c."name" = bfsd.color ) where "group" <> '4. Подарочные сертификаты' and "group" <> '5. Тест'

'после основного блока'

,modelname,foto,colorcode,fullmodelcode,model_id,group,subgroup,category,subcategory,status,season,colorname,service,first_date,cm,codes
2046,Брюки белые,http://am.look.online/storage/images/dedd7f69-...,,,ЦБ-00001420,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 6,None,Белый,ЦБ-00001420;Белый,2020-07-03 00:00:00,1,"24299, 24300, 24301"
766,Брюки классика с 2мя карманами,http://am.look.online/storage/images/cfaa4bc6-...,,,ЦБ-00002379,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_025,None,Бежевый,ЦБ-00002379;Бежевый,2021-04-02 00:00:22,1,"26879, 26880, 26881"
146,Брюки классика с 2мя карманами,http://am.look.online/storage/images/cfaa4bc6-...,,,ЦБ-00002379,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 21_025,None,Черный,ЦБ-00002379;Черный,2021-04-02 00:00:22,1,"26882, 26883, 26884"
448,Брюки клеш база,http://am.look.online/storage/images/5043cead-...,,,ЦБ-00002162,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Фотосессия 28,None,Серый,ЦБ-00002162;Серый,2020-12-15 00:00:22,1,"26335, 26336, 26337"
1877,Брюки на защипах ткань в рубчик,http://am.look.online/storage/images/fbc37017-...,,,ЦБ-00000987,1. Одежда,1.1 Поясные,1.1.1 Брюки и леггинсы,1.1.1.1 Брюки классические,Август,None,Черный,ЦБ-00000987;Черный,2020-03-27 00:00:00,1,"21788, 21789, 21790, 21791"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1309,Носки женские в рубчик,http://am.look.online/storage/images/5e80e8ad-...,,,ЦБ-00002565,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_035,None,Лиловый,ЦБ-00002565;Лиловый,2021-05-06 18:02:05,1,27633
1608,Носки женские в рубчик,http://am.look.online/storage/images/5e80e8ad-...,,,ЦБ-00002565,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_035,None,Оливковый,ЦБ-00002565;Оливковый,2021-05-06 15:38:33,1,27630
1017,Носки женские в рубчик,http://am.look.online/storage/images/5e80e8ad-...,,,ЦБ-00002565,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_035,None,Оранжевый,ЦБ-00002565;Оранжевый,2021-05-06 16:45:22,1,27628
2408,Носки женские в рубчик,http://am.look.online/storage/images/5e80e8ad-...,,,ЦБ-00002565,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_035,None,Розовый,ЦБ-00002565;Розовый,2021-05-06 16:07:15,1,27629
2124,Носки женские в рубчик,http://am.look.online/storage/images/5e80e8ad-...,,,ЦБ-00002565,3. Аксессуары,3.1 Аксессуары,3.1.9 Прочие аксессуары,"3.1.9.1 Носки, колготки (ЧНИ)",Фотосессия 21_035,None,Серый,ЦБ-00002565;Серый,2021-05-06 15:38:33,1,27631

        model_id   colorname    datetime         fotosname
0    ЦБ-00002920    Молочный  2021-06-15  Фотосессия 21-46
1    ЦБ-00002676       Белый  2021-06-15  Фотосессия 21-46
2    ЦБ-00002711      Черный  2021-06-15  Фотосессия 21-46
3    ЦБ-00002753      Черный  2021-06-15  Фотосессия 21-46
4    ЦБ-00002763      Черный  2021-06-15  Фотосессия 21-46
..           ...         ...         ...               ...
639  ЦБ-00003006  Коричневый  2021-06-18  Фотосессия 21-47
640  ЦБ-00003007      Черный  2021-06-18  Фотосессия 21-47
641  ЦБ-00003008      Черный  2021-06-18  Фотосессия 21-47
642  ЦБ-00003009  Коричневый  2021-06-18  Фотосессия 21-47
643  ЦБ-00003016      Черный  2021-06-18  Фотосессия 21-47

[644 rows x 4 columns]

ValueError: Index contains duplicate entries, cannot reshape